@charset "utf-8";

* {font-family: 'Noto Sans KR', sans-serif;}

/* slide */

#section {padding-left: 200px;}

#section .slide {
    height: 850px; width: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}
#section .slide > .tm {
    position: absolute;
    left: 200px; top: 50%;
    transform: translateY(-50%);
}

#section .slide1 {
    background-image: url(../img/main_hero_img01.jpg);}
#section .slide2 {
    background-image: url(../img/main_hero_img02.jpg);
    }
#section .slide3 {
    background-image: url(../img/main_hero_img03.jpg);
    }


#section .slide h2 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    line-height: 1.35;
    margin-bottom: 16px;
    text-shadow: 0 0 10px rgb(0 0 0 / 42%);
    transform: translateX(-10%);
    opacity: 0;
    transition: all 1s 0.6s;
}
#section .slide.slick-current.slick-active h2 {
    transform: translateX(0%);opacity:1;
}

#section .slide p {
    font-size: 17px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: -0.05rem;
    transform: translateX(-10%);
    opacity: 0;
    transition: all 1s 0.75s;
}
#section .slide.slick-current.slick-active p {
    transform: translateX(0%);opacity:1;
}

#section .slide a {
    display: block;
    background: #fff;
    border-radius: 30px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    color: #212529;
    width: 150px;
    padding: 13px 30px;
    font-weight: 700;
    transform: translateX(-10%);
    opacity: 0;
    transition: all 1.2s 1.3s;
}

#section .slide.slick-current.slick-active a {
    transform: translateX(0%);opacity:1;
}

.slide-group {position: relative;}
.slide-group .slick-arrow {position: absolute; top: 50%;
    transform: translateY(-50%);border: none;
    color: #fff; font-size: 15px;}
.slide-group .slick-prev {left: 30px;padding-left: 40px;z-index: 1;}
.slide-group .slick-next {right: 30px; padding-right: 40px;}

.slide-group .slick-arrow .arrow {width: 40px;height: 2px;
    position: absolute;background: #fff;transition: all 0.3s;}
.slide-group .slick-arrow:hover > .arrow {width: 25px;}
.slide-group .slick-prev .arrow {left: 0;top: 50%;transform: translateY(-50%);}
.slide-group .slick-next .arrow {right: 0;top: 50%;transform: translateY(-50%);}
.slide-group .slick-arrow .prev {margin-left: 20px;}
.slide-group .slick-arrow .next {margin-right: 20px;}
.slide-group .slick-prev .arrow:before {content: '';display:block ;
    width: 13px;height: 2px;
    background: #fff;transform: rotate(-45deg);
    position: absolute;top: -5px;}
.slide-group .slick-next .arrow:before {content: '';display:block ;
    width: 13px;height: 2px;
    background: #fff;transform: rotate(45deg);
    position: absolute;right:0px;top: -5px;}

.slide-group .slick-dots {position: absolute; width: 100%;
    text-align: center; bottom: 50px;}
.slide-group .slick-dots li {display: inline-block;
    margin: 0 7px;background: rgba(255,255,255,.3);
    border-radius: 50%;width: 10px;height:10px;
    position: relative;}
.slide-group .slick-dots li button {border: none;
    width: 10px;height:10px;border-radius: 50%;
    text-indent: -9999px;overflow: hidden;
    position: absolute; top: 0;left: 0;}

.slide-group .slick-dots li.slick-active button {background: #fff;}

.article1 {position: relative;}

.article1 .scroll {
    position:absolute; bottom: 12%;
    left: 50%;transform: translateX(-50%);
    width: 80px; cursor:pointer;
    z-index: 99;
}

.article1 .scroll span {display:block;color: #fff; font-size: 12px; 
    font-weight:600; text-align:center; margin-bottom:10px;
    line-height: 1.5em;}
.article1 .scroll .mouse {width: 36px; height: 58px;margin:auto;
    border:2px solid rgba(255,255,255,.6); border-radius:36px;
    position: relative;}
.article1 .scroll .wheel {position: absolute;top: 8px;left: 50%;
    width: 3px;height: 8px; border-radius: 6px;background: #fff;
    margin-left: -1.5px;
    animation: wheel-ani 1s linear infinite;}
    @keyframes wheel-ani {
        0% {opacity: 0; transform: translateY(0)}
        25% {opacity: 1; transform: translateY(10px)}
        75% {opacity: 1; transform: translateY(10px)}
        100% {opacity: 0; transform: translateY(10px)}
    }
    

/*notice*/

#section .notice .noticewrap {
    padding: 20px 15px;
    border-bottom: 1px solid #eaeaea;}

#section .notice .noticewrap > h2 {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background: #4263eb;
    color: #fff; font-weight: 700;
    font-size: 14px;
}

#section .notice .noticewrap > a {
    display: inline-block;
    max-width: 100%;
    padding-left: 15px;
    color: #868296;
    font-size: 14px;
}

/*about*/

#section .about {
    width: 100%;padding: 100px 15px;position: relative;
    overflow:hidden}

#section .about .abouttop {padding-bottom:48px}
#section .about .abouttop h2 {
    font-size: 38px;
    color: #212529;
    margin-bottom: 24px;
    font-weight: 700;
}

#section .about .abouttop p {
    color: #343a40;
    font-size: 17px;
    line-height: 1.5;
    font-weight:600;
}

#section .about .aboutin {max-width: 100%;}

#section .about .aboutin .abb {
    float:left;
    width: 33.3%;
}

#section .about .aboutin .abb .imf {
    padding: 42px 20px 0;
}

#section .about .aboutin .abb .imf h2 {
    font-size: 21px; margin-bottom: 16px;
    font-weight: 700;
}

#section .about .aboutin .abb .imf p {
    width: 95%;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
}

/* 배너 */

.banner {overflow:hidden}
.banner .img {
    top:0;
    float:left; width: 50%;
    height:350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;}

.banner .img:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: 5;
    transition: all 0.5s;
}

.banner .img:hover:before {opacity: 1;}

.banner .img:hover > img {transform: scale(1.1);}

.banner .img > img {transition: all 0.5s;
    position: absolute;max-width: 100%;height: 350px;
    object-fit: cover;}


.banner .img:hover > .cap {transform:translateY(55%)}

.banner .img:hover > .cap > a {opacity: 1;}

.banner .img > .cap > a:hover {background: #fff; color:#000}

.banner .img .cap {padding: 48px;position: absolute;bottom: 100px;
    transform: translateY(75%);z-index: 6;transition: all 0.5s;}

.banner .cap h2 {font-size: 24px; 
    font-weight: 600; 
    margin-bottom: 12px;
    color: #fff;}

.banner .cap p {font-size: 17px; 
    font-weight: 500; 
    line-height: 1.7;
    opacity: 0.7;
    color:#fff;}

.banner .img > .cap > a {font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 28px;
    padding: 14px 32px;
    min-width: 150px;
    border: 1px solid #fff;
    border-radius: 30px;
    display:inline-block;
    opacity: 0;
    transition:all 0.5s}

/* 제품소개 */

.cont { padding: 100px 0;background: #f7f7f7;overflow:hidden}

.conttop {overflow:hidden; padding:0 15px 40px 15px}

.cont .conttop > h2 {font-size: 38px;font-weight: 700;float: left;}

.cont .conttop > a {font-size: 19px;font-weight: 500;color: #333;float: right;}

.cont .contlist {overflow: hidden;}

.cont .contlist .cimg {width: 25%;float: left;padding: 0 8px;}

.cont .contlist .cimt img {object-fit: cover;width: 25%;}

.cont .contcap {padding: 32px;
    font-weight: 600;border: 1px solid #d9d9d9;
    border-top: 0;
    background-color: #fff;
    height: 50%;
    transform: translateY(-40%);
    height: 150px;}

.cont .contcap p {font-size: 14px; color: #4263eb;
    padding-bottom: 12px;}

.cont .contcap a {font-size: 19px; line-height: 1.4;height: 59px
    ;text-overflow: ellipsis;word-break: keep-all;overflow:hidden}

/*문의*/

.contact {max-width: 1330px; padding:100px 15px;
    margin: 0 auto;}

.contact .contactwrap {width: 100%;position: relative;overflow: hidden;}

.contact .wd {width: 50%;}

.contact .guide {float:left}

.contact .coninput {float:right}

.contact h2 {font-size: 38px;font-weight: 700;padding-bottom: 50px;}

.contact .guide p:first-child {color: #666;line-height: 1.8;
    letter-spacing: -0.05rem; font-weight: 600;font-size: 15px;
    margin-bottom: 24px;}

.contact .cticon {color: #868296;font-size: 20px;
    margin-bottom: 12px;margin-top: 30px}

.contact .guide .address {color: #555;font-size: 13px;line-height: 1.8;}
.contact .guide a {color:#343a40; font-size: 13px;}

.contact .coninput .category {float: left;width: 47%;
    height: 50px;display: block;margin: 1%;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #fff;
    color: #495057;
    font-size: 14px;padding-left: 16px;
    padding-right:20px}

.contact .coninput .in {overflow: hidden;}

.contact .coninput .in input {float:left;width: 47%;
    height: 50px;display: block;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;padding-left: 16px;
    margin: 1%;}


.contact .coninput .in2 > input {margin-bottom: 1%;}


.contact .coninput textarea {display: block;
    width: 96.5%;height: 170px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;padding: 16px;
    margin: 1%;}

.contact .coninput .check {   
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    color: #666;
    margin-bottom: 0;
    padding: 20px 0 30px 1%;}

.contact .coninput .check a {color: #007bff;text-decoration-line: underline;}

.contact .coninput .check input {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border: 2px solid #dee2e6;
    border-radius: 4px;
}

.contact .send button {padding:13px 24px;font-size: 15px;
    min-width: 130px;
    border: none; border-radius: 6px;}

.contact .send button:first-child {background: #4484f7;
    color: #fff; font-weight: 700;margin-left: 1%;}
    
.contact .send button:last-child { color: #495057;
    border: 1px solid #ced4ea;
    margin-left: 8px;} 


/* 배너 샘플 */

.partner {max-width: 1330px;padding: 100px 0;
    background: #f7f7f7;}

.partner .partnerwrap {overflow:hidden;width: 100%;
    padding: 0  15px;}

.partner h2 {
    font-size: 38px;
    font-weight: 700;
    color: #212529;
    padding-bottom: 50px;
    line-height: 45px;}

.partner .sample {float:left;}

.partner .sample img {padding: 0 0.1% 0.5% 0.1%;width: 16.25%;}
