@charset "utf-8";

@media screen and (max-width:991px) {

#section {padding-left:0;z-index: -999;}
#section .slide {
    height: 750px; width: auto;
    background-size: cover;
    background-position: center;}

#section .slide > .tm {
    position: absolute;
    left: 140px; top: 50%;
    transform: translateY(-50%);
}
#section .slide h2 {
    font-size: 40px;}

}

@media screen and (max-width:767px) {

    #section {padding-left:0}
#section .slide {
    height: 500px; width: auto;
    background-size: cover;
    background-position: center;}

#section .slide > .tm {
    position: absolute;
    left: 70px; top: 50%;
    font-size: 15px;
}
#section .slide h2 {
    font-size: 32px;}

.slide-group .slick-dots {bottom:20px}

.slide-group .slick-prev {left: 15px;padding-left: 30px;z-index: 99999;
    }
.slide-group .slick-next {right: 15px; padding-right: 30px;}
.slide-group .slick-arrow .prev {display: none;}
.slide-group .slick-arrow .next {display: none;}
.slide-group .slick-arrow .arrow {width: 30px;
}
.article1 .scroll .mouse {width: 28px; height: 45px;}
.article1 .scroll .wheel {position: absolute;top: 6px;}
}




@media screen and (max-width: 575px) {
    .article1 .scroll {display: none;}
}
